<?xml version="1.0" encoding="UTF-8"?>
<plugin
    xmlns="http://www.phonegap.com/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="it.mobimentum.phonegapspinnerplugin"
    version="1.2.1">

    <name>SpinnerPlugin</name>

    <description>A native loading indicator</description>
    <license>MIT</license>
    <keywords>phonegap,loading,indicator,spinner</keywords>
 
    <js-module src="www/spinnerplugin.js" name="SpinnerPlugin">
        <clobbers target="window.spinnerplugin" />
    </js-module>
 
    <!-- Android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SpinnerPlugin">
                <param name="android-package" value="it.mobimentum.phonegapspinnerplugin.SpinnerPlugin"/>
            </feature>
        </config-file>
 
	<config-file target="AndroidManifest.xml" parent="/manifest/application">
		<activity android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale" android:name="it.mobimentum.phonegapspinnerplugin.ProgressActivity"
		          android:theme="@android:style/Theme.Translucent.NoTitleBar" android:launchMode="singleInstance" />
	</config-file>
 
        <source-file src="src/it/mobimentum/phonegapspinnerplugin/SpinnerPlugin.java" target-dir="src/it/mobimentum/phonegapspinnerplugin/" />
        <source-file src="src/it/mobimentum/phonegapspinnerplugin/ProgressActivity.java" target-dir="src/it/mobimentum/phonegapspinnerplugin/" />
     </platform>
     
     <!-- iOs -->
     <platform name="ios">
        
        <!-- Cordova >= 2.3 -->
        <config-file target="config.xml" parent="/*">
            <feature name="SpinnerPlugin">
                <param name="ios-package" value="SpinnerPlugin" /> 
            </feature>
        </config-file>

        <header-file src="src/ios/SpinnerPlugin.h" />
        <source-file src="src/ios/SpinnerPlugin.m" />
        

     </platform>
     
</plugin>
